:root {
  --colored-color: #506670
}


*  {
  /* background-color: rgb(64, 64, 64); */
  color: white;
  font-family: sans-serif;
  color-scheme: dark;
  border-radius: 5px;
  margin: 5px;
}
body {
  background-color: #111;
  color: white;
  font-family: sans-serif;
}

h1 {
  color: rgb(255, 0, 0);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #222;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--colored-color);
  color: white;
}

input {
  margin: 5px;
  border-style: solid;
}
input[type=text] {
  font-family: monospace;
}
input[type=number] {
  width: 8em;
}
input[type=button], input[type=submit], input[type=reset], button {
  background-color: var(--colored-color);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: large;
  transition: background-color 0.3s;
}
button.active {
  background-color: #04AA6D;
}
label {
  margin: 10px;
}
input::file-selector-button {
  border-radius: 10px;
  border-style: solid;
  padding: 8px 10px;
}
input.layer1::file-selector-button {
  background-color: #333;
  border-color: #333;
}
input.layer2::file-selector-button {
  background-color: #444;
  border-color: #444;
}
input.layer3::file-selector-button {
  background-color: #555;
  border-color: #555;
}
pre {
padding: 5px 5px;
font-family: monospace;
border-style: solid;
background-color: #222;
border-color: #222;
margin: 10px;
}
.match-parent {
  width: 100%;
}

.layer1 {
background-color: #222;
border-color: #222;
padding: 5px;
}
.layer2 {
background-color: #333;
border-color: #333;
padding: 5px;
}
.layer3 {
  background-color: #444;
  border-color: #444;
  padding: 5px;
}
.layer4 {
  background-color: #555;
  border-color: #555;
  padding: 5px;
}
textarea {
background-color: #333;
padding: 10px;
overflow-wrap: normal;
white-space: pre;
overflow-wrap: normal;
overflow-x: scroll;
font-family: monospace;
font-size: xx-small;
}
p {
font-family: sans-serif;
font-weight: 300;
}
.toggle-button-inactive {
  background-color: #222;
  border-radius: 0px;
}
.toggle-button-active {
  background-color: var(--colored-color);
  border-radius: 0px;
}
.round-left {
  border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 0px 5px;
}
.noround {
  border-radius: 0px;
  margin: 0px;
}
.round-right {
  border-radius: 0px 5px 5px 0px;
  margin: 0px 5px 5px 0px;
}
.pixelated {
  image-rendering: pixelated;
}
.hidden {
  visibility: hidden;
}
.very-hidden {
  display: none;
}
.obj-fit {
  object-fit: contain;
}
.nowrap {
  white-space: nowrap;
}
.warning {
  color: orange;
  font-size: small;
}
.error {
  color: red;
}
.inline-block {
  display: inline-block;
}
.centered {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}
.clickable:hover{
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
